@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colour Pallete */
  --text-primary: #e5f7f9;
  --text-secondary: #bce4e9;
  --accent-primary: #4A58FC; /* rgb(74,88,252) */
  --accent-secondary: #39c4c9; /* rgb(57,196,201) */
  --accent-secondary-50: rgba(57,196,201,0.7);
  --bg-primary: #101022;
  --bg-secondary: #26252D;
  --bg-secondary-55: rgba(38, 37, 45, 0.55);
  --error: #f03838;
  --warning: #d8b43c;
  --success: #52D841;
  --testing: #dadada;

  --speed: 500ms;
  --section-max-width: 1200px;
}

body {
  background-color: var(--bg-primary) !important;
  /* color: var(--text-primary); */
  min-height: 100vh;
}

.hidden {
  opacity:0;
}

.section {
  color: var(--text-primary);
  padding: 80px 0;
  width: 100wv;
}

.sectionContainer {
  max-width: var(--section-max-width);
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  color: var(--text-primary);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

/* Button 1: Primary button */
.button1 {
  background-color: var(--text-secondary);
  color: var(--bg-primary);
  padding: 7px 17px;
  border-radius: 6px;
  border: 1.5px solid var(--text-secondary);
  appearance: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.01s;
  cursor: pointer;
  opacity: 1;
}

.button1:hover {
  /* transform: scale(1.02);
  opacity: 0.9; */
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 1.5px solid var(--text-primary);
}

.button1:disabled {
  opacity: 0.9;
}

/* Button 3: terminal style plain button */
.button3 {
  color: var(--text-secondary);
  line-height: 1;
  padding: 3px 1px 2px 1px;
  transition: all ease-in 0.01s;
}

.button3:hover {
  color: var(--bg-primary);
  background-color: var(--text-primary);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* 去掉数字输入框的加减按钮 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
